@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.my-border {
  border-right: 1px solid #2a84a0;
  margin: 10px auto;
}

.my-border>* {
  padding: 0;
}

.project-img {
  object-fit: cover;
  object-position: 0% 0%;
}

main {
  max-width: 1200px;
  margin: auto;
}

/* text color transition */

@property --myColor1 {
  syntax: '<color>';
  initial-value: rgb(84, 211, 233);
  inherits: false;
}

@property --myColor2 {
  syntax: '<color>';
  initial-value: rgb(8, 114, 102);
  inherits: false;
}

.project-image p {
  background: linear-gradient(to right, var(--myColor1), var(--myColor2));
  background-clip: text;
  color: transparent;
  padding: 0;
  opacity: 0;
  transition: --myColor1 3s, --myColor2 3s, opacity 1s;
}

.project-image:hover p {
  --myColor1: rgb(8, 114, 102);
  --myColor2: rgb(84, 211, 233);
  opacity: 1;
}

.project-image:hover img {
  border-top-left-radius: 130px;
}

@media (max-width:640px) {
  .project-image:hover img {
    border-top-left-radius: 150px;
  }
}

@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}

@font-face {
  font-family: "GreatVibes";
  src: url("../public/GreatVibes-Regular.ttf");
}

.showProject {
  /* transform: rotate(0deg) translateX(-340px) translateY(340px)  !important; */
  /* transition: 2.5s; */
}

.rotate0 {
  transform: rotate(-15deg) translateX(-100px);
}

.rotate1 {
  transform: rotate(-5deg) translateX(-50px);
  z-index: 30;
}

.rotate2 {
  transform: rotate(0deg) translateX(0px);
  z-index: 30;
}

.rotate3 {
  transform: rotate(10deg) translateX(50px);
  z-index: 210;
}

.rotate4 {
  transform: rotate(20deg) translateX(130px);
  z-index: -10;
}

@media (max-width:600px) {
  .rotate0 {
    transform: rotate(-10deg) translateX(-40px);
  }

  .rotate2 {
    transform: rotate(10deg) translateX(20px);
  }

  .rotate3 {
    transform: rotate(20deg) translateX(50px);
  }

}